#body {
    background-color:beige;
}
#logo1 {
    display: inline-block;
    width: 12%;
    float: left;
}
#titulo {
    display:inline-block;
    width:60%;
    text-align:center;
}
#logo2 {
    display:inline-block;
    width: 12%;
    float: right;
}
#barra {
    clear:both;
}
.menu {
    display:inline-block;
    width:10%;
    background-color:burlywood;
    font-size:20px;
    text-align:center;
    border:solid;
    border-color:chocolate;
    padding:5px;
    margin:5px;
}
#marco {
    width:99%;
    padding:8px;
    height:600px;
}
#pie {
    text-align:center;
    font-size: 20px;
    border:groove;
}
p {
    font-familY:CURSIVE;
    
}
h3 {
    font-family:cursive;
    font-style: italic; 
}